<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: gray;
      text-decoration: none;
    }

    li {
      list-style: none;
    }
  </style>
</head>

<body class="container">
  <header class="container header sec_header">
    <div>
      <div class="row">
        <div>
          <h2>C Coffee</h2>
        </div>
        <div class="col-sm-8 offset-2 ml-auto">
          <nav>
            <ul class="navbar">
              <a href="/home">
                <li>Home</li>
              </a>
              <a href="/add_new">
                <li>New Store</li>
              </a>
              <a href="/profile">
                <li>Profile</li>
              </a>
              <a href="/archive_store">
                <li>Archive</li>
              </a>
              <a href="/logout">
                <li>Logout</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <h3>Available Stores</h3>
  <div class="available_sec row">
    <div class="row all_store">
      {% if add %}
      {% for i in add %}
      <div class="store col mt-4">
        <img
          src="https://img.freepik.com/free-vector/coffee-love-foam-with-beans-cartoon-icon-illustration_138676-2575.jpg?w=2000"
          alt="" srcset="" id="myBtn{{ i }}" class="modal-btn w-100" />
          <h5 class="text-center">{{i.sname}}</h5>
        <div id="myModal{{ i }}" class="modal">
          <div class="modal-content container">
            <span class="close" data-modal="myModal{{ i }}">&times;</span>
            <p>{{i.sname}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h4>No Store available...</h4>
      {% endif %}
    </div>
  </div>
  </div>
  </div>

 <!-- <h3>Recently Added</h3>
  <div class="available_sec row">
    <div class="row all_store">
      {% if rcnt_store %}
      {% for i in rcnt_store %}
      <div class="store col mt-4">
        <img
          src="https://img.freepik.com/free-vector/coffee-love-foam-with-beans-cartoon-icon-illustration_138676-2575.jpg?w=2000"
          alt="" srcset="" id="myBtn{{ i }}" class="modal-btn w-100" />
        <div id="myModal{{ i }}" class="modal">
          <div class="modal-content container">
            <span class="close" data-modal="myModal{{ i }}">&times;</span>
            <p>Some text in the Modal..</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
-->
  <h3>Trending Stores</h3>
  <div class="available_sec row">
    <div class="row all_store">
      {% if trnd_store %}
      {% for i in trnd_store %}
      <div class="store col mt-4">
        <img
          src="https://img.freepik.com/free-vector/coffee-love-foam-with-beans-cartoon-icon-illustration_138676-2575.jpg?w=2000"
          alt="" srcset="" id="myBtn{{ i }}" class="modal-btn w-100" />
        <div id="myModal{{ i }}" class="modal">
          <div class="modal-content container">
            <span class="close" data-modal="myModal{{ i }}">&times;</span>
            <p>Some text in the Modal..</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>


  <script>
    $(".hamburger_menu").click(function () {
      $(this).toggleClass("active");
      $(".navbar").toggleClass("active");
    });

    // for the model

    // Get all modal buttons with class "modal-btn"
    const modalBtns = document.querySelectorAll(".modal-btn");

    modalBtns.forEach((btn) => {
      btn.addEventListener("click", (event) => {
        const modalId = event.target.id;
        const modal = document.getElementById(modalId.replace("myBtn", "myModal"));

        // Open the modal
        modal.style.display = "block";

        // Close the modal when clicking anywhere outside of it
        window.addEventListener("click", (event) => {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        });
      });
    });

    // Close the modal when clicking the close button
    const closeBtns = document.querySelectorAll(".close");

    closeBtns.forEach((btn) => {
      btn.addEventListener("click", (event) => {
        const modalId = event.target.getAttribute("data-modal");
        const modal = document.getElementById(modalId);

        // Close the modal
        modal.style.display = "none";
      });
    });

  </script>
</body>

</html>