<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='card.css')}}" />

   <style>
   
   </style>
  </head>
  <body>
    

    <div class="main" style="width: 100%;">
      <div class="wrapper">
        <div class="menu">
          <div class="flyout"><a href="/home"><i class="fa-solid fa-house"></i></a></div>
          <div class="flyout"><a href="/add_new"><i class="fa-solid fa-plus"></i></a></div>
          <div class="flyout"><a href="/profile"><i class="fa-solid fa-user"></i></a></div>
          <div class="flyout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></div>
          <div class="flyout"><a href="#"><i class="fa-solid fa-gear"></i></a></div>
          <i class="fa-solid fa-arrow-up hidden"></i>
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="searchbar">
        <div id="wrap">
          <form action="/home" method="post">
            <input
              id="search"
              name="search"
              type="text"
              placeholder="What're we looking for ?"
              autocomplete="False"
            /><button
              id="searcht"
              value="submit"
              type="submit"
              style="
                height: 41px;
                width: 50px;
                border: none;
                background-color: transparent;
                margin-left: -50px;
              "
            >
              <i
                class="fa-solid fa-magnifying-glass"
                style="color: #f1faee"
              ></i>
            </button>
            
          </form>
        </div>
      </div>
    </div>
    <div class="details_sections">
      <div class="main_details">
        {% if search_stores %}
          {% for i in search_stores %}
            <div class="details">
              <h3>Store : {{i.sname}}</h3>
              <h3><a href="{{ url_for('store_page.store_home', tenant=i.sname) }}">Home</a></h3>
            </div>
          {% endfor %}
        {% else %}
          {{msg}}
        {% endif %}
      
            
      </div>
      <div class="title" style="border-bottom: 2px solid #f1faee;">
        <h1>My Stores</h1>
      </div>
      <div class="main_details">
        {% for i in add %}
          <main class="page-content">
            <div class="d_card">
              <div class="content">

                <h2 class="heading">{{i.sname}}</h2>
                <p class="data-content">
                  {% if current_user.is_admin == True %}
                  <h3 ><a href="{{ url_for('store_page.add_product', tenant=i.sname) }}"  style="text-decoration: none;color: #f1faee;">menu</a></h3>
                  <h3 ><a href="{{ url_for('store_page.store_home', tenant=i.sname) }}"  style="text-decoration: none;color: #f1faee;">Shop</a></h3>
                  <h3 ><a href="{{ url_for('admin_page.edit_store', tenant=i.sname) }}"  style="text-decoration: none;color: #f1faee;">details</a></h3>


                  {% else %}
                  <h3 ><a href="{{ url_for('store_page.store_home', tenant=i.sname) }}"  style="text-decoration: none;color: #f1faee;">Shop</a></h3>
                  {% endif %}
                </p>

              </div>
            </div>
            
          </main>
          {% endfor %}
        </div>
        <script src="{{url_for('static',filename='index.js')}}"></script>
  </body>
</html>

