
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
<style>

</style>
</head>
{% extends "loader.html  " %} {% block body%}

<body>
  <div class="center">
    <div class="page_back">
      <a href="/home"><img src="https://www.nicepng.com/png/detail/16-163125_back-arrow-icon-creative-commons-logo.png" alt="" srcset=""></a>
    </div>
    <div class="card">
      <div class="profile-container">
        <img src="https://www.starbucks.in/assets/images/profileDP.svg" alt="" srcset="">
      </div>
      
      <div class="name-container">
        <h2>{{name}}</h2>
        <p>{{email}}</p>
      </div>
      <div class="details-container">
        <div class="posts-container">
          <h4>69</h4>
          <p>Like</p>
        </div>
        
        <div class="follower-container">
          <h4>4</h4>
          <p>Stores</p>
        </div>
        
        <div class="following-container">
          <h4>{{visitors}}</h4>
          <p>Visiters</p>
        </div>
      </div>
      
       <div class="cta">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
  </svg>
            <p>Visit</p>
         </a>
          <a href="/logout">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
              <path d="M12 5l7 7-7 7"></path>
              <path d="M19 12H5"></path>
            </svg>
            <p>Logout</p>           
            </a>
        </div>
    </div>
  </div>
</body>
{% endblock %}

</html>